@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

#tool-description{
font-size:0.6rem !important;
margin-bottom:14px !important;
}
.title{
flex-direction: column;
padding-bottom:0rem !important;
}
.title img{
width:110px;
height:170px !important;
margin-bottom:14px;
}
.title #tool-title{
font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
.incentive p{
display:none
}
